.element__like {
  background: url(../../../images/Like.svg) no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 22px;
  min-height: 19px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.2s ease;
}

.element__like:hover {
  opacity: 0.6;
}

.element__like__active {
  background: url(../../../images/LikeActive.svg) no-repeat;
}
