.profile__container {
  display: flex;
  flex-direction: row;
  width: 68.75%;
}

@media screen and (max-width: 950px) {
  .profile__container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .profile__container {
    flex-direction: column;
    width: 100%;
  }
}
