.footer {
  width: 68.75%;
  margin: 0 auto 60px;
}

@media screen and (max-width: 950px) {
  .footer {
    width: 88.125%;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    margin: 0 auto 36px;
  }
}
